
@{
    ViewData["Title"] = "Cotact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable

@if (TempData["ContactMsg"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" id="btnclosemsg" class="btn btn-primary"><span aria-hidden="true">&times;</span></button>
        <strong>@TempData["ContactMsg"]</strong>
    </div>
    TempData["ContactMsg"] = null;
}

<div class="pagetitle">
    <h1>AddressBook</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Contact</a></li>
            <li class="breadcrumb-item active">List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">

    <form method="post" asp-area="CON_Contact" asp-controller="CON_Contact" asp-action="Contact_Filter">
        <div class="row">
            <div class="col-lg-3">
                @if (ViewBag.CountryList != null)
                {
                    <div class="form-group">
                        <select class="form-control" name="CountryID" id="CountryID" asp-items="@(new SelectList(ViewBag.CountryList, "CountryID", "CountryName").ToList())" onchange="fnOnStateChange();">
                            @*Here First argument Country ID Should Be Consider as Values and second argument CountryName as html that is diaplay in list*@
                            <option>Select Country</option>
                        </select>
                    </div>
                }
            </div>

            <div class="col-lg-3">
                <div class="form-group">
                    <select class="form-control" name="StateID" id="StateID" onchange="fnOnCityChange();">
                        <option value="">Select State</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <select class="form-control" name="CityID" id="CityID" onchange="fnOnCityChange();">
                        <option value="">Select City</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <input type="text" name="ContactName" placeholder="Enter Contact Name" class="form-control" />
            </div>
        </div>

        <div class="d-inline">
            <input type="submit" value="Search" class="btn btn-primary" />
            <a class="btn btn-danger" asp-area="CON_Contact" asp-controller="CON_Contact" asp-action="Index">Clear Filter</a>
        </div>

    </form>


    <div style="margin:20px 0px;">
        <form method="post" asp-area="CON_Contact" asp-controller="CON_Contact" asp-action="Add">
            <button id="sample_editable_1_2_new" class="btn btn-primary">
                <i class="mr-cus5 bi bi-plus-circle-fill"></i>Add Contact
            </button>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table " id="List_table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Contact Photo</th>
                    <th>ContactName</th>
                    <th>CountryName</th>
                    <th>StateName</th>
                    <th>CityName</th>
                    <th>ContactCategoryName</th>
                    <th>ContactNo</th>
                    <th>WahtsappNo</th>
                    <th>BirthDate</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>BloodGroup</th>
                    <th>FaceBookID</th>
                    <th>InstaID</th>
                    <th>Creation Time</th>
                    <th>Modification Time</th>
                </tr>
            </thead>
            <tbody id="data">
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-lg-6">
                                    <form method="post" asp-controller="CON_Contact" asp-action="Add">
                                        <input type="hidden" name="ContactID" value="@Convert.ToInt32(dr["ContactID"])" />
                                        <button class="btn btn-success"><i class="bi bi-pencil-square"></i></button>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <form method="post" asp-controller="CON_Contact" asp-action="Delete">
                                        <input type="hidden" name="ContactID" value="@Convert.ToInt32(dr["ContactID"])" />
                                        <button class="btn btn-danger" onclick="return fun1()"><i class="bi bi-trash3-fill"></i></button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td><img src="@Url.Content(@dr["PhotoPath"].ToString())" class="img-fluid" /></td>
                        <td>@dr["ContactName"]</td>
                        <td>@dr["CountryName"]</td>
                        <td>@dr["StateName"]</td>
                        <td>@dr["CityName"]</td>
                        <td>@dr["ContactCategoryName"]</td>
                        <td>@dr["ContactNo"]</td>
                        <td>@dr["WhatsappNo"]</td>
                        <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("dd-MM-yyyy")</td>
                        <td>@dr["Email"]</td>
                        <td>@dr["Address"]</td>
                        <td>@dr["BloodGroup"]</td>
                        <td>@dr["FaceBookID"]</td>
                        <td>@dr["InstaID"]</td>
                        <td>@dr["CreationTime"]</td>
                        <td>@dr["ModificationTime"]</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script>
        function fun1() {
            if (confirm("Are you want to sure to delete this Contact.!")) {
                return true;
            }
            else {
                return false;
            }
        }

         function fnOnStateChange() {
            var CountryID = $("#CountryID").val();
        if (CountryID !== "") {
            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select State"));
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset:utf-8",
                    url: "@Url.Action("DropdownByCountryID", "CON_Contact")" + "?&CountryID=" + CountryID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result,
                            function (key, value) {
                                $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));

                            });
                    },
                    error: function (r) {
                        alert("Error while loading dropdown.");
                    }
                });
        }
        else {
            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select State"));
        }
    }

        function fnOnCityChange() {
        var StateID = $("#StateID").val();

        if (StateID !== "") {
            $("#CityID").empty();
            $("#CityID").append($("<option></option>").val("").html("Select City"));
            $.ajax(
                {
                    type: "POST",
                    contentType: "application/json; charset:utf-8",
                    url: "@Url.Action("DropdownByStateID", "CON_Contact")" + "?&StateID=" + StateID,
                    data: {},
                    dataType: "json",
                    success: function (Result) {
                        $.each(Result,
                            function (key, value) {
                                $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));

                            });
                    },
                    error: function (r) {
                        alert("Error while loading dropdown.");
                    }
                });
        }
        else {
            $("#StateID").empty();
            $("#StateID").append($("<option></option>").val("").html("Select City"));
        }
    }

    </script>
}