@{
    ViewData["Title"] = "State";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Data
@model DataTable

<div class="pagetitle">
    <h1>AddressBook</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">State</a></li>
            <li class="breadcrumb-item active">List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <form asp-controller="LOC_State" asp-action="LOC_StateSearchByCountryIDStateNameCode">
        @* when form is submit then value of form shold be passed as an argument *@
        <div class="row">
            <div class="col-lg-3">
                @if (ViewBag.CountryList != null)
                {
                    <div class="form-group">
                        <select class="form-control CountryDropDown" name="CountryID"  asp-items="@(new SelectList(ViewBag.CountryList, "CountryID", "CountryName").ToList()) ">
                            @*Here First argument Country ID Should Be Consider as Values and second argument CountryName as html that is diaplay in list*@
                            <option>Select Country</option>
                        </select>
                    </div>
                }
            </div>
            <div class="col-lg-3">
                <input name="StateName" id="StateName" type="text" placeholder="Enter State Name" class="form-control" />
            </div>
            <div class="col-lg-3">
                    <input name="StateCode" id="StateCode" type="text" placeholder="Enter State Code" class="form-control" />
            </div>
            <div class="col-lg-3 d-inline">
                <input type="submit" class="btn btn-primary" value="Search" />
                <a asp-controller="LOC_State" asp-action="Index" class="btn btn-danger">Clear Filter</a>
            </div>
        </div>
    </form>
    <div style="margin:20px 0px;">
        <form method="post" asp-controller="LOC_State" asp-action="OpenPage">
            <button id="sample_editable_1_2_new" class="btn btn-primary">
                <i class="mr-cus5 bi bi-plus-circle-fill"></i>Add State
            </button>
        </form>
    </div>
    <table class="table table-striped table-hover table-bordered" id="List_table">
        <thead>
            <tr>
                <th>CountryName</th>
                <th>StateName</th>
                <th>StateCode</th>
                <th>CreationTime</th>
                <th>ModificationTime</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="data">
            @foreach (DataRow dr in Model.Rows)
            {
                <tr>
                    <td asp-for="">@dr["CountryName"]</td>
                    <td>@dr["StateName"]</td>
                    <td>@dr["StateCode"]</td>
                    <td>@dr["CreationTime"]</td>
                    <td>@dr["ModificationTime"]</td>
                    <td>
                        <div class="row">
                            <div class="col-lg-6">
                                <form method="post" asp-controller="LOC_State" asp-action="OpenPage">
                                    <input type="hidden" name="StateID" value="@Convert.ToInt32(dr["StateID"])" />
                                    <button type="submit" class="btn btn-success"><i class="bi bi-pencil-square"></i></button>
                                </form>
                            </div>
                            <div class="col-lg-6">
                                <form method="post" asp-controller="LOC_State" asp-action="Delete">
                                    <input type="hidden" name="StateID" value="@Convert.ToInt32(dr["StateID"])" />
                                    <button type="submit" class="btn btn-danger" onclick="return fun1()"><i class="bi bi-trash3-fill"></i></button>
                                </form>
                            </div>
                        </div>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            var CountryID = '@ViewBag.FilterCountryID';
            var $select = $('.CountryDropDown');
            $select.children().filter(function () {
                return this.value == CountryID;
            }).prop('selected', true);

            var StateName = '@ViewBag.FilterStateName';
            $("#StateName").val(StateName);

            var StateCode = '@ViewBag.FilterStateCode';
            $("#StateCode").val(StateCode);
        });
        function fun1() {
            if (confirm("Are you want to sure to delete this country.!")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}